<%= turbo_frame_tag 'button_area' do %>
  <div id="<%= dom_id(button) %>" class="bg-white p-4 rounded-lg shadow">
    <% if @item_names.present? %>
      <p class="mt-3 text-lg text-black">アイテム 登録数: <%= Item.count %></p>
      <div class="flex flex-wrap">
        <% @item_names.each_slice((@item_names.size/3.0).ceil) do |names| %>
          <div class="w-1/3 p-2">
            <% names.each do |name| %>
              <p class="text-sm text-black"><%= name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-lg text-gray-600">登録されたアイテムがありません。</p>
    <% end %>
    <div class="flex mt-4">
      <div class="flex-1">
        <%= button_to "閉じる", remove_specific_button_path(id: dom_id(button)), method: :delete, data: { turbo_frame: "buttons" }, class: 'btn btn-error' %>
      </div>
      <div class="flex-none">
        <%= button_to "閉じる", remove_specific_button_path(id: dom_id(button)), method: :delete, data: { turbo_frame: "buttons" }, class: 'btn btn-error' %>
      </div>
    </div>
  </div>
<% end %>
