<%= turbo_frame_tag 'button_area' do %>
  <div id="<%= dom_id(button) %>" class="notification">
    <%= button_to "閉じる", remove_specific_button_path(id: dom_id(button)), method: :delete, data: { turbo_frame: "buttons" }, class: 'button is-danger' %>
    <% if @item_names.present? %>
      <p class="mt-3 is-size-5">アイテム　登録数: <%= Item.count %></p>
      <div class="columns is-multiline">
        <% @item_names.each_slice((@item_names.size/3.0).ceil) do |names| %>
          <div class="column">
            <% names.each do |name| %>
              <p class="is-size-8"><%= name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= button_to "閉じる", remove_specific_button_path(id: dom_id(button)), method: :delete, data: { turbo_frame: "buttons" }, class: 'button is-danger' %>
  </div>
<% end %>
