<div id="<%= dom_id(button) %>" class="notification">
  <%= button_to "閉じる", remove_specific_button_path(id: dom_id(button)),method: :delete, data: { turbo_frame: "buttons" }, class: 'button is-danger' %>
  <% if @item_names.present? %>
  <p>アイテム　登録数: <%= Item.count %></p>
  <div class="columns is-multiline">
    <% @item_names.each_slice((@item_names.size/3.0).ceil) do |names| %>
      <div class="column">
        <% names.each do |name| %>
          <p><%= name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
  <%= button_to "閉じる", remove_specific_button_path(id: dom_id(button)),
  method: :delete, data: { turbo_frame: "buttons" }, class: 'button is-danger' %>
</div>