<% if @keyword.present? %>
  <h2>検索キーワード: <%= @keyword %></h2>
<% end %>
<% if @items.present? %>
  <% @items.each do |item| %>
    <div class="item">
      <p><%= item[:name] %></p>
      <p>通常価格: ¥<%= number_with_delimiter(item[:price]) %></p>
      <p>総価格: ¥<%= number_with_delimiter(item[:total_price]) %></p>
      <a href="<%= item[:url] %>" target="_blank">商品詳細</a>
      <img src="<%= item[:image_url] %>" alt="<%= item[:name] %>" style="width:100px;height:auto;">
    </div>
  <% end %>
<% else %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>
