<div class="container">
  <div class="columns">
    <div class="column is-full">
      <div class="notification is-primary">
        <div class="column is-full">
        　<div class="mb-3">
          <%= render 'top/info_content' %> <!-- 説明セクション -->
          </div>
          <%= render 'top/button_info' %><!-- ボタンコントロール -->
          <%= render 'top/button_controls' %> <!-- ランダム検索ボタン -->
        </div>
        <div class="column is-half">
          <%= render 'top/from_rakuten' %> <!-- 検索フォーム -->
        </div>
        <div class="column is-full">
          <%= render 'search_keyword' %> <!-- 検索キーワード表示 -->
        </div>
        <div class="column is-full"> <!-- 商品一覧を表示 -->
          <% if @items.present? %>
            <%= render 'top/items', items: @items %>
          <% elsif @random_items.present? %>
            <%= render 'top/items', items: @random_items %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
