<div class="container mx-auto px-4">
  <div class="grid grid-cols-1">
    <div class="col-span-1">
      <div class="bg-nostalgic-turquoise bg-opacity-75 text-white p-5 rounded-lg shadow-lg">
        <p class="text-2xl font-bold">「懐かしいものを思い出すアプリ」へようこそ！</p>
        <div class="col-span-1">
          <div class="mb-3">
            <%= render 'top/info_content' %> <!-- 説明セクション -->
          </div>
          <%= render 'top/button_info' %> <!-- ボタンコントロール -->
          <%= render 'top/button_controls' %> <!-- ランダム検索ボタン -->
        </div>
        <div class="col-span-1 md:col-span-1/2">
          <%= render 'top/from_rakuten' %> <!-- 検索フォーム -->
        </div>
        <div class="col-span-1">
          <%= render 'search_keyword' %> <!-- 検索キーワード表示 -->
        </div>
        <div class="col-span-1"> <!-- 商品一覧を表示 -->
          <% if @items.present? %>
            <%= render 'top/items', items: @items %>
          <% elsif @random_items.present? %>
            <%= render 'top/items', items: @random_items %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
