<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
  <% flash.each do |type, message| %>
    <% bulma_class = case type.to_sym
                     when :notice then 'is-primary'
                     when :alert then 'is-danger'
                     when :info then 'is-info'
                     when :warning then 'is-warning'
                     else 'is-primary'
                     end %>
    <div class="notification <%= bulma_class %>">
      <button class="delete"></button>
      <%= message %>
    </div>
  <% end %> <!-- フラッシュメッセージを表示 -->

  <%= yield %>
<!-- turboはload必要-->
  <script>
    document.addEventListener('turbo:load', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
</body>
</html>
