<!DOCTYPE html>
<html>
<head>
  <title>懐かしいものを思い出すアプリ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kzkio_0114">
  <meta name="twitter:title" content="懐かしいものを思い出すアプリ">
  <meta name="twitter:description" content="このアプリは昔懐かしいアイテムを集めて共有するプラットフォームです。">
  <meta name="twitter:image" content="<%= asset_url('omoide.webp') %>"> <!-- 画像のURLを適切に設定してください -->

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <% flash.each do |type, message| %>
  <% tailwind_class = case type.to_sym
                       when :notice then 'bg-blue-500 text-white'
                       when :alert then 'bg-red-500 text-white'
                       when :info then 'bg-blue-400 text-white'
                       when :warning then 'bg-yellow-500 text-white'
                       else 'bg-blue-500 text-white'
                       end %>
  <div class="<%= tailwind_class %> px-4 py-2 rounded">
    <%= message %>
  </div>
<% end %><!-- フラッシュメッセージを表示 -->

  <%= yield %>
  <!-- turboはload必要-->
  <script>
    document.addEventListener('turbo:load', () => {
      document.querySelectorAll('.notification .delete').forEach(($delete) => {
        const $notification = $delete.parentNode;
        if ($notification) { // $notificationがnullではないことを確認
          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
        });
      }
    });
});
  </script>
</body>
</html>
