<!DOCTYPE html>
<html>
  <head>
    <title>懐かしいものを思い出すアプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="あなたの懐かしい思い出を振り返ることができるアプリです。">
    <meta property="og:title" content="懐かしいものを思い出すアプリ">
    <meta property="og:description" content="あなたの懐かしい思い出を振り返ることができるアプリです。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nostalgic-e3f4cba5b01a.herokuapp.com">
    <meta property="og:image" content="ここに画像のURLを入れます">
    <meta property="og:site_name" content="懐かしいものを思い出すアプリ">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kzkio_0114">
    <meta name="twitter:title" content="懐かしいものを思い出すアプリ">
    <meta name="twitter:description" content="あなたの懐かしい思い出を振り返ることができるアプリです。">
    <meta name="twitter:image" content="ここに画像のURLを入れます">
    <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
  <% flash.each do |type, message| %>
    <% bulma_class = case type.to_sym
                     when :notice then 'is-primary'
                     when :alert then 'is-danger'
                     when :info then 'is-info'
                     when :warning then 'is-warning'
                     else 'is-primary'
                     end %>
    <div class="notification <%= bulma_class %>">
      <button class="delete"></button>
      <%= message %>
    </div>
  <% end %> <!-- フラッシュメッセージを表示 -->

  <%= yield %>
<!-- turboはload必要-->
  <script>
    document.addEventListener('turbo:load', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
</body>
</html>
