<!DOCTYPE html>
<html>
<head>
  <title>懐かしいものを思い出すアプリ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kzkio_0114">
  <meta name="twitter:title" content="懐かしいものを思い出すアプリ">
  <meta name="twitter:description" content="このアプリは昔懐かしいアイテムを集めて共有するプラットフォームです。">
  <meta name="twitter:image" content="<%= asset_url('omoide.webp') %>"> <!-- 画像のURLを適切に設定してください -->
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <% flash.each do |type, message| %>
    <% bulma_class = case type.to_sym
                     when :notice then 'is-primary'
                     when :alert then 'is-danger'
                     when :info then 'is-info'
                     when :warning then 'is-warning'
                     else 'is-primary'
                     end %>
    <div class="notification <%= bulma_class %>">
      <%= message %>
    </div>
  <% end %> <!-- フラッシュメッセージを表示 -->

  <%= yield %>
  <!-- turboはload必要-->
  <script>
    document.addEventListener('turbo:load', () => {
      document.querySelectorAll('.notification .delete').forEach(($delete) => {
        const $notification = $delete.parentNode;
        if ($notification) { // $notificationがnullではないことを確認
          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
        });
      }
    });
});
  </script>
</body>
</html>
